<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <style>
        .select.is-large select {
            font-size: 1.25rem;
            height: 3em;
            padding: 0.5em;
            border: 1px solid #dbdbdb;
            border-radius: 4px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <div class="box">
            <form method="POST" action="{{ url_for('main.login') }}">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="surname" placeholder="Your Surname">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <div class="select is-large">
                            <select name="role">
                                <option value="" disabled selected>Your Position</option>
                                <option value="student">Student</option>
                                <option value="teacher">Teacher</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="button is-block is-info is-large is-fullwidth">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
